.gallery-thumbnail {
  height: 200px;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.05);
  }
}
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050; 
}


.modal-content-wrapper {
  position: relative;
  text-align: center;
}


.full-image {
  max-width: 90vw;
  max-height: 80vh;
  border: 2px solid white;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.close-btn {
  display: block;
  margin: 15px auto 0 auto;
}