<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/']">MyBlog</a>

    <button class="navbar-toggler" type="button" (click)="toggleNav()" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarContent" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [class.show]="!isCollapsed" id="navbarContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']">Home</a>
        </li>
        @if (authService.isLoggedIn()) {
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/blog']">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/blog/add']">Dodaj post</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/favorites']">Ulubione</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/profile']">Profil</a>
          </li>
        }
      </ul>

      <div class="d-flex align-items-center">
        <app-theme-toggle class="me-2"></app-theme-toggle>
        @if (!authService.isLoggedIn()) {
          <a class="btn btn-outline-light me-2" [routerLink]="['/login']">Login</a>
          <a class="btn btn-primary" [routerLink]="['/signup']">Sign Up</a>
        } 
        @else {
          <span class="text-light me-3">Witaj, {{ authService.currentUser?.name }}!</span>
          <button class="btn btn-danger" (click)="signOut()">Wyloguj</button>
        }
      </div>
    </div>
  </div>
</nav>